/bin
main
main.exe
__pycache__
python/image_classification/logs
python/image_classification/saved_model
python/image_classification/saved_model_tflite
python/image_classification/test_data/*
python/image_classification/train_data/*
python/image_classification/augmented_data/*