/bin
main
main.exe
__pycache__
python/image_classification/logs
python/image_classification/saved_model
python/image_classification/saved_model_tflite
python/image_classification/labels
python/image_classification/test_data/*
python/image_classification/train_data/*
python/image_classification/calibration_data/*
python/image_classification/artifacts/*
python/object_detection/labels
python/object_detection/models
python/object_detection/base_model
python/object_detection/training
python/object_detection/test_data/*
python/object_detection/train_data/*
python/object_detection/calibration_data/*
python/object_detection/artifacts/*
python/object_detection/saved_model
python/object_detection/saved_model_tflite
